@font-face {
    font-family: 'Mario';
    src: url('./assets/SuperMario256.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mario', sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#game_container {
    height: 400px;
    width: 1200px;
    position: relative;
}

#game_container #mario {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#mario img {
    height: 70px;
    width: 70px;
    mix-blend-mode: color-burn;
}

.marioanim {
    animation: animMario 0.5s linear infinite;
}

@keyframes animMario {
    0%,100% {
        bottom: 28px;
    }
    45%,55% {
        bottom: 160px;
    } 
}

#game_container #bowser {
    height: 80px;
    width: 130px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}

#bowser img {
    height: 80px;
    width: 125px;
    mix-blend-mode: color-burn;
}

.bowseranim {
    animation: animBowser 1s linear infinite;
}

@keyframes animBowser {
    0% {
        right: -125px;
    }
    100% {
        right: 100%;
    }
}

#game_container #floor {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#floor img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    mix-blend-mode: color-burn;
}

@keyframes animFloor {
    0% {
        left: 0;
    }
    100% {
        left: -800px;
    }
}

#container #luckyblock {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#luckyblock img {
    height: 80px;
    width: 80px;
    position: absolute;
    left: -2000px;
    animation: none;
}

@keyframes animLuckyblock {
    0% {
        left: -2000px;
    }
    100% {
        left: 100%;
    }
}

#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 1.2rem;
}

#gameover {
    display: none;
    font-size: 3.5rem;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 400px;
    height: 80px;
    color: #804F02;
}

#controls {
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 20px;
    height: auto;
    width: auto;
}



