* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #4B4453;
}

nav {
    margin-bottom: 5%;
    background-color: #B0A8B9;
    padding: 2.5% 1%;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    background-color: #000;
    width: 15%;
    text-align: center;
    padding: 1% 0;
    border-radius: 15px;
}

nav ul li a {
    color: #FFF;
}

a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 2px;
    color: #B0A8B9;
}


/* Style Tab EXO 7 & 9 */

.green {
    background: green;
    color: #FFF;
}

.red {
    background: red;
    color: #000;
}

.bordure {
    border: 3px solid #000;
    background: lightgray;
}